p {
  color: black;
  text-align: left;
  padding: 10px;
  font-family: "Roboto";
  font-size: 13pt;
} 

a {
  text-decoration: none;
}

h2 {
  padding: 10px;
  font-family: "Roboto-Bold";
}

h3 {
  padding: 10px;
  padding-bottom: 50px;
  font-family: "Roboto-Bold";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ADEFD1FF;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

#menuBar {
  width: 100%;
  background-color: white;
  display: flex;
  height: 7%;
  min-height: 50px;
  position: sticky;
  z-index: 2;
  overflow: hidden;
  top: 0;
  box-shadow: 0px 0px 3px 3px;
}

#menuBarLeft {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#name {
  color: #292929;
  font-size: 16px;
  font-size:calc(13px + .7vh);
  font-family: "Roboto";
  text-transform: uppercase;
  padding-left:calc(13px + .5vw);
  white-space: nowrap;
}

#name a {
  color: #292929;
}

#menuBarRight {
  width: 100%;
}

#menuItemsContainer {
  list-style-type: none;
  color: #292929;
  background-color: white;
  height: 100%;
}

.menuItems {
  color: #292929;
  font-size: 16px;
  font-size:calc(13px + .7vh);
  padding-right: 15px;
  padding-left: 15px;
  padding-right: 1.75vw;
  padding-left: 1.75vw;
  font-family: "Roboto";
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menuItems:hover {
  background-color: #292929;
  color: white;
}

#top {
  position: relative;
  z-index: -1;
  height: 40%;
  min-height: 300px;
  background-color: #00203FFF;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:calc(24px + 1vh);
  font-family: forma-djr-text, sans-serif;
  /*regular font-weight: 400, med 500, bold 700
  color: white;
}

#main {
  margin-left: 25px;
  margin-right: 25px;
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 1.5vh;
  border-top-right-radius: 1.5vh;
  margin-top: -25px;
  margin-top: -3vh;
  min-height: auto;
  min-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bottom {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
  font-size:calc(16px + .5vh);
  margin-left: 25px;
  margin-right: 25px;
  margin-left: 3vw;
  margin-right: 3vw;
  overflow: hidden;
  display: block;
  background-color: #00203FFF;
  min-height: 100px;
  height: 3vh;
  position: relative;
}

#mainWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuButtonContainer {
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
  width: 15%;
}

#button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: white;
  border: none;
  color: #292929;
  font-size: 13px;
  font-size:calc(13px + .5vh);
}

#dropDown {
  background-color: white;
  color: #292929;
  position: fixed;
  display: none;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 3px 3px;
}

.dropDownItem {
  font-family: "Roboto";
  padding: 20px;
  text-transform: uppercase;
  color: #292929;
}

.fadeIn {
  animation-name: "fadeIn";
  animation-duration: .5s;
}

.fadeOut {
  animation-name: "fadeOut";
  animation-duration: .75s;
  animation-fill-mode: forwards;
}

.dropDownItem:hover {
  color: white;
  background-color: #292929;
}

.iconText {
  color: #292929;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-300px);
    display: none;
  }
}

.menuIcon {
  float: right;
  display: none;
  font-size: 1.5em;
  padding: 13px;
  appearance: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.closeIcon {
  float: right;
  font-size: 1.5em;
  padding: 13px;
  display: none;
  visibility: hidden;
  appearance: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.homeIcons {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  padding: 5vw;
  font-size:calc(20px + 1vw);
  font-family: 'Roboto-Bold';
}

.homeIcons:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.footer {
  text-align: center; 
  font-size:calc(10px + .5vh);; 
  color: white;
  font-family: 'Roboto';
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.footer :hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.footer a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  #main {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    width: 100%;
  }

  .bottom {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  #menuItemsContainer {
    display: none;
  }

  #menuButtonContainer {
    display: flex;
  }

  #mainWrapper {
    flex-direction: column;
  }
}
