p {
  color: #292929;
  text-align: left;
  padding: 10px;
  font-family: "Roboto";
  font-size: 13pt;
} 

a {
  text-decoration: none;
}

h2 {
  padding: 10px;
  font-family: "Roboto-Bold";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

#top {
  position: relative;
  z-index: -1;
  height: 40%;
  min-height: 300px;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  font-size:calc(24px + 1vh);
  font-family: forma-djr-text, sans-serif;
  /*regular font-weight: 400, med 500, bold 700
  color: white;*/
}

#top p {
  padding-bottom: 20px;
  color: #5983EF;
}

#main {
  display: flex;
  justify-content: left;
  align-items: center;
}

#mainLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5983EF;
  width: 30%;
  text-align: center;
  height: 100px;
  color: white;
  margin-right: 25px;
  font-family: "Roboto-Bold";
  font-size: 24px;
}

#middle p {
  text-align: center;
}

#projBanner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-Bold";
  height: 100px;
  font-size: 40px;
  color: white;
  background-color: #5983EF;
  text-align: center;
}

#bigDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.projWidget {
  height: 400px;
  width: 300px;
  background-color: #5983EF;
  color: white;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
}

.projWidget {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.projWidget:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

#otherApps {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projWidget p {
  color: white;
  padding: 20px;
}

.projWidget img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-top: 20px;
}

#mainRight {
  width: 60%;
  text-align: center;
  padding: 20px;
}

#proj {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#projContainer {
  background-color: white;
  display: block;
  box-shadow: 0 0px 5px #5983EF;
  border-radius: 25px;
  color: #292929;
  margin: 20px;
  margin-top: -100px;
  
}

.projectImages {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.homeIcons {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  font-family: 'Roboto-Bold';
  text-align: center;
  margin: 0 -25px;
}

#bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-size:calc(16px + .5vh);
  overflow: hidden;
  display: block;
  background-color: #5983EF;
  min-height: 100px;
  height: 3vh;
  position: relative;
}

#menuButtonContainer {
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
  width: 15%;
}

#contactButton {
  display: inline;
  float: right;
  margin: 20px;
  border: 3px solid #5983EF;
  color: #292929;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  font-family: "Roboto-Bold";
  font-size: 13px;
}

.imgWidget {
  height: auto;
  width: 200px;
  border-radius: 20px;
  margin: 20px;
}

#contactButton:hover {
  background-color: #5983EF;
  color: white;
}

.homeIcons {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  padding: 5vw;
  font-size:calc(20px + 1vw);
  font-family: 'Roboto-Bold';
}

.homeIcons:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.footer {
  color: white;
  text-align: center; 
  font-size:calc(10px + .5vh);; 
  font-family: 'Roboto';
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.footer :hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.footer a {
  color: white;
  text-decoration: none;
}

#form {
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.input {
  border: none;
  border-bottom: 1px solid #292929;
  text-align: left;
  padding: 10px;
  margin-bottom: 25px;
  font-family: "Roboto-Thin";
  width:calc(200px + 10vw);
  scrollbar-width: none;
  overflow-y: scroll;
  resize: vertical;
}

#aboutText {
  font-size:calc(14px + .5vw);
  line-height: 1.25em;
  padding: 20px;
}

#sendButton {
width:calc(50px + 2vh);
height:calc(40px + 1vh);
font-family: "Roboto-Bold";
background-color: #5983EF;
color: white;
border-radius: 10px;
margin-top: -12px;
padding: 0;
border: none;
transition: all .1s linear;
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
}

#sendButton:hover {
transform: scale(1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
}

.formHeadings {
  font-family: "Roboto-Bold";
  text-align: left;
  display: inline;
}

@media screen and (max-width: 800px) {

  #proj {
    flex-wrap: wrap;
  }

  #otherApps, #bigDisplay {
    flex-wrap: wrap;
  }

  #projContainer {
    margin-top: 250px;
  }

  .homeIcons {
    margin: 0;
  }

  #main {
    flex-wrap: wrap;
  }

  #mainLeft {
    margin-right: 0;
    width: 100%;
  }
  
  #mainRight {
    margin-top: 10px;
    width: 90%;
  }
}
