p {
  color: black;
  text-align: left;
  padding: 10px;
  font-family: "Roboto";
  font-size: 13pt;
} 

h1 {
  color:white; 
  padding-bottom: 15px; 
  text-align: center; 
  font-family: 'Roboto-Bold';
  font-size: 50px;
} 

a {
  text-decoration: none;
}

h2 {
  padding: 10px;
  font-family: "Roboto-Bold";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
}

.top {
  padding-top: 140px;
  padding-bottom: 100px;
  padding-left: 10px;
  background-color: #292929;
}

.main {
  padding-top: 75px;
  font-size: 16pt;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin-top: -25px;
  line-height: 30px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
  border-radius: 10px;
}

.bottom {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16pt;
  margin-top: -25px;
  line-height: 30px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #292929;
}

.name {
  color: #292929;
  font-size: 15px;
  display: inline-block;
  padding: 16px;
  font-family: "Roboto-Thin";
  text-transform: uppercase;
}

.name a {
  color: #292929;
}

.menu {
  float: right;
  list-style-type: none;
  color: #292929;
  background-color: white;
}

.menuItems {
  color: #292929;
  font-size: 15px;
  font-family: "Roboto-Thin";
  float: left;
  padding: 16px;
  text-transform: uppercase;
}

.menuItems:hover {
  background-color: #292929;
  color: white;
}

.menuBar {
  background-color: white;
  height: 50px;
  padding: 0px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 3px 3px;
}

.menuIcon {
  float: right;
  display: none;
  font-size: 1.5em;
  padding: 13px;
  appearance: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.footer {
  text-align: center; 
  font-size: 10pt; 
  font-family: 'Roboto-Thin';
  text-transform: uppercase;
}

.footer :hover {
  color: #2A5DB0;
}

.footer a {
  color: white;
  text-decoration: none;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  visibility: visible;
}

@media screen and (max-width: 800px) {
  .main, .bottom {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .menu {
    width: 100%;
    margin-top: -6px;
    box-shadow: 0px 2px 1px 0px;
    visibility: hidden;
  }

  .menuItems {
    float: none;
  }

  .menuIcon {
    display: block;
  }
}